# Exemplo de variáveis de ambiente para o backend
POSTGRES_HOST=seu_host_postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=nome_do_banco
POSTGRES_USERNAME=seu_usuario
POSTGRES_PASSWORD=sua_senha

# Autenticação OIDC. Para execução local sem Keycloak, mantenha false.
OIDC_ENABLED=false
OIDC_PUBLIC_ISSUER=https://auth-dev.produza.ind.br/realms/produza-dev
OIDC_INTERNAL_ISSUER=http://keycloak:8080/realms/produza-dev
OIDC_CLIENT_ID=leitor-folha-processos
OIDC_CLIENT_SECRET=
OIDC_SESSION_SECRET=
OIDC_REDIRECT_URI=https://fp-dev.produza.ind.br/auth/callback
OIDC_POST_LOGOUT_REDIRECT_URI=https://fp-dev.produza.ind.br/
OIDC_REQUIRED_ROLE=viewer
OIDC_SESSION_MAX_AGE=3600
OIDC_COOKIE_SECURE=true
